#matrix {
  font-family: "Courier New";
  font-size: 14px;
  background-color: #35414e;
  color: white;
  padding: 10px;
  border-right: 3px white solid;
  margin-top: 21px;
}


.large {
  width: 100%;
  display: block;
  position: fixed;
  z-index: 100;
  font-size: 15px !important;
  top: 5px;
  left:0px;
  margin: 0px !important;
  height: 60vh;
}

#check{
  margin-top:10px;
}
.examples{
  margin:10px 5px 0 0;
}
#ex7{
  margin-top:50px;
}

.row{
  width:76%;
  margin: 0 auto;
}

.inputs{
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 10px 5px;
  text-align: center;
  padding: 0px;
}
.matrixer{
  font-size: 30px;
  font-weight: bold;
}

.texts{
    font-size: 20px;
    margin-top: 27px;
    border-bottom: solid 1px #17a2b8;
    padding-bottom: 5px;
    text-shadow: 2px 2px 2px #80808099;
    /* box-shadow: 2px 2px 2px gray; */
}

.fas{
  margin-right: 5px;
  color:#17a2b8
}

div#corectness {
  font-size: 16px;
  font-weight: normal;
} 